<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <welcome-file-list>
        <welcome-file>JSP/login2.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>UsuarioServlet</servlet-name>
        <servlet-class>com.example.appweb.CONTROLADOR.UsuarioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuarioServlet</servlet-name>
        <url-pattern>/UsuarioServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegistroServlet</servlet-name>
        <servlet-class>com.example.appweb.CONTROLADOR.RegistroServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistroServlet</servlet-name>
        <url-pattern>/RegistroServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ReporteServlet</servlet-name>
        <servlet-class>com.example.appweb.CONTROLADOR.ReporteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReporteServlet</servlet-name>
        <url-pattern>/ReporteServlet</url-pattern>
    </servlet-mapping>

    <!--Mapeo descarga reporte formato EXCEL -->
    <servlet>
        <servlet-name>ExportarEXCELServlet</servlet-name>
        <servlet-class>com.example.appweb.CONTROLADOR.ExportarEXCELServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExportarEXCELServlet</servlet-name>
        <url-pattern>/ExportarEXCELServlet</url-pattern>
    </servlet-mapping>

    <!--Mapeo descarga reporte formato PDF -->
    <servlet>
        <servlet-name>ExportarPDFServlet</servlet-name>
        <servlet-class>com.example.appweb.CONTROLADOR.ExportarPDFServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExportarPDFServlet</servlet-name>
        <url-pattern>/ExportarPDFServlet</url-pattern>
    </servlet-mapping>

    
</web-app>
